.card{
    margin-bottom: 5%;
    border-style: none;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.25)
}
.pSearch{
    color: #01BAEF; 
    font-size: .7em;
}
a.pSearch{
    text-decoration: none;
}
.products{
    text-align: center;
}
.titleSearch{
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 3.5em;
}
p.pSearch{
    color: #01BAEF;
}
h3.pSearch{
    color: #01BAEF;
}
.bgSearch{
    background: linear-gradient(359.58deg, #007799 0.17%, rgba(255, 255, 255, 0) 99.83%), #01BAEF;
    color:whitesmoke;
    height: 100vh;
    background-size: cover;
}
.bgLanding{
    /*2° tipo de background
    background: linear-gradient(180deg, #8F00FF 0%, rgba(255, 255, 255, 0) 100%), #69359D;*/
    font-family: 'Open Sans', sans-serif;
    color:whitesmoke;
    height: 100vh;
    background-size: cover;
    background: linear-gradient(180deg, #FFA800 0%, rgba(255, 255, 255, 0) 100%), #F97700;
    text-align: center;
}
.titleLanding{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 3.5em;
    padding-top: 50%;
}
input[type="search"]{
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 1em;
}
a.aLand{
    text-decoration: none;
    color:rgb(221, 215, 215);
    cursor: pointer;
}