@font-face {
  font-family: "psans";
  src: url("../assets/psans.ttf");
}

.f-btn {
  font-family: "psans";
  background: transparent;
  border-radius: 10px !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: white;
  height: 50px !important;
  width: 320px !important;
  color: white;
}

.f-btn:active {
  background-color: rgba(255, 255, 255, .2)
}

.f-input {
  border: 0;
  border-radius: 5px !important;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .2) !important;
  height: 50px;
  width: 320px;
  font-size: 1.3rem;
  padding-left: 5%;
}


:focus {
  outline: 0 !important;
}